body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    background-color: royalblue;
}

a {
    color: peru;
}

a:visited {
    color: orangered;
}

.drawings {
    display: flex;
    flex-wrap: wrap;
}

.drawing {
    height: 250px;
    min-width: 250px;
    padding: 20px;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawing.wide {
    min-width: 100%;
}

.drawing > div {
    display: inline-block;
}

.drawing dl dt {
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: mediumturquoise;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .drawing {
        max-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
    }
}
