body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    background-color: royalblue;
}

a {
    color: peru;
}

a:visited {
    color: orangered;
}

.drawings {
    outline: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
}

.drawing {
    height: 250px;
    min-width: 320px;
    padding: 20px;
    flex: 1 0 auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.drawing.wide {
    flex-basis: 100%;
    min-width: 100%;
}

.drawing > div {
    display: inline-block;
}

.drawing dl dt {
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: mediumturquoise;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .drawing {
        max-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
    }
}
