.controller {
  background-color: #3f51b5;
}

.controller div {
  position: relative;
  width: 300px;
  height: 100px;
  min-width: 300px;
  box-sizing: content-box;
  outline: none;
  background-color: #282828;
  background-image:   radial-gradient(circle at 104px 17px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 104px 37px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 104px 57px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 104px 87px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 195px 17px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 195px 37px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 195px 57px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(circle at 195px 87px, #282828 0, #282828 8px, transparent 8px),
                      radial-gradient(ellipse at 130px 73px, #282828 0, #282828 15px, transparent 5px),
                      radial-gradient(ellipse at 165px 73px, #282828 0, #282828 15px, transparent 5px),
                      radial-gradient(ellipse at 132px 74px, black 0, black 10px, transparent 15px),
                      radial-gradient(ellipse at 167px 74px, #282828 0, #282828 10px, transparent 15px),
                      linear-gradient(to bottom, transparent 15px, #282828 15px, #282828 20px, transparent 20px, transparent 35px, #282828 35px, #282828 40px, transparent 40px, transparent 55px, #282828 55px, #282828 60px, transparent 60px, transparent 85px, #282828 85px, #282828 90px, transparent 90px),
                      linear-gradient(to right, transparent 110px, #C5C1AE 110px, #C5C1AE 190px, transparent 190px, transparent 100%);
  border: 15px solid #C5C1AE;
  border-top: 25px solid #C5C1AE;
  border-radius: 5px;
  background-size 15px 15px;
  transform:  perspective(750px)
              rotateX(10deg)
              rotateY(-10deg)
              rotateZ(3deg);
  box-shadow: 1px 0px 0 #8C8979,
              0px 1px 0 #8C8979,
              3px 2px 0 #8C8979,
              2px 3px 0 #8C8979,
              5px 5px 0 #8C8979,
              6px 6px 0 #8C8979,
              7px 7px 0 #8C8979,
              8px 8px 0 #8C8979,
              9px 9px 0 #8C8979,
              10px 10px 0 #8C8979;
}

.controller div:before {
  position: absolute;
  left: 20px;
  bottom: 20px;
  content: "";
  background-color: transparent;
  height: 45px;
  width: 45px;
  box-shadow: 0 -13px 0 -10px #C5C1AE,
              -13px 0 0 -10px #C5C1AE,
              0 13px 0 -10px #C5C1AE,
              13px 0 0 -10px #C5C1AE;
  background-image:   radial-gradient(circle at 22.5px 22px, black 0, black 4px, transparent 5px),
                      radial-gradient(circle at 22.5px 23px, darkgrey 0, darkgrey 4px, transparent 6px),
                      linear-gradient(to right, transparent 0, transparent 13px, black 13px, black 30px, transparent 34px),
                      linear-gradient(to bottom, transparent, 0, transparent 10px, #C5C1AE 10px, #C5C1AE 13px, black 13px, black 30px, #C5C1AE 32px, #C5C1AE 35px, transparent 35px),
                      linear-gradient(to right, transparent 0, transparent 10px, #C5C1AE 10px, #C5C1AE 13px, black 13px, black 30px, #C5C1AE 32px, #C5C1AE 35px, transparent 35px);
}

.controller div:after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 35px;
  width: 75px;
  content: "";
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  background-image:   radial-gradient(circle at 15px 16px, orangered 0, orangered 15px, transparent 15px),
                      radial-gradient(circle at 17px 18px, #C70505 0, #C70505 14px, transparent 16px),
                      radial-gradient(circle at 55px 16px, orangered 0, orangered 15px, transparent 14px),
                      radial-gradient(circle at 57px 18px, #C70505 0, #C70505 14px, transparent 16px),
                      linear-gradient(to right, #C5C1AE 35px, transparent 35px, transparent 39px, #C5C1AE 39px, #C5C1AE 75px);
}

.controller div:active:after {
  background-image:   radial-gradient(circle at 15px 16px, orangered 0, orangered 15px, transparent 15px),
                      radial-gradient(circle at 17px 18px, #C70505 0, #C70505 14px, transparent 16px),
                      radial-gradient(circle at 56px 18px, orangered 0, orangered 15px, transparent 14px),
                      radial-gradient(circle at 57px 18px, #C70505 0, #C70505 14px, transparent 16px),
                      linear-gradient(to right, #C5C1AE 35px, transparent 35px, transparent 39px, #C5C1AE 39px, #C5C1AE 75px);
}
