.inin-logo {
    background-color: honeydew;
}

.inin-logo div {
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: relative;
    background-image:   linear-gradient(to bottom, transparent 50px, #0F465D 50px, #0F465D 52px, transparent 52px, transparent),
                        radial-gradient(circle at 4px, #0F465D 4px, transparent 4px),
                        radial-gradient(circle at 96px, #0F465D 4px, transparent 4px),
                        radial-gradient(circle at 50px, #0F465D 4px, transparent 4px);
    border-radius: 50%;
}

.inin-logo div:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    content: "";
    height: 14px;
    width: 0;
    border-radius: 50%;
    border-top: 40px solid #0F465D;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #0F465D;
    border-left: 40px solid transparent;
    transform: rotate(45deg);
}

.inin-logo div:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    content: "";
    width: 12px;
    height: 0;
    border-radius: 50%;
    border-top: 30px solid transparent;
    border-right: 30px solid #4CC5D8;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #4CC5D8;
    transform: rotate(45deg);
}

.controller {
    background-color: peru;
}

.controller div {
    position: relative;
    width: 300px;
    height: 100px;
    min-width: 300px;
    box-sizing: content-box;
    background-color: #282828;
    background-image:   radial-gradient(circle at 104px 17px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 104px 37px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 104px 57px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 104px 87px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 195px 17px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 195px 37px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 195px 57px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(circle at 195px 87px, #282828 0, #282828 8px, transparent 8px),
                        radial-gradient(ellipse at 130px 73px, #282828 0, #282828 15px, transparent 5px),
                        radial-gradient(ellipse at 165px 73px, #282828 0, #282828 15px, transparent 5px),
                        radial-gradient(ellipse at 132px 74px, black 0, black 10px, transparent 15px),
                        radial-gradient(ellipse at 167px 74px, #282828 0, #282828 10px, transparent 15px),
                        linear-gradient(to bottom, transparent 15px, #282828 15px, #282828 20px, transparent 20px, transparent 35px, #282828 35px, #282828 40px, transparent 40px, transparent 55px, #282828 55px, #282828 60px, transparent 60px, transparent 85px, #282828 85px, #282828 90px, transparent 90px),
                        linear-gradient(to right, transparent 110px, #C5C1AE 110px, #C5C1AE 190px, transparent 190px, transparent 100%);
    border: 15px solid #C5C1AE;
    border-top: 25px solid #C5C1AE;
    border-radius: 5px;
    background-size 15px 15px;
    transform:  perspective(750px)
                rotateX(10deg)
                rotateY(-10deg)
                rotateZ(3deg);
    box-shadow: 1px 0px 0 #8C8979,
                0px 1px 0 #8C8979,
                3px 2px 0 #8C8979,
                2px 3px 0 #8C8979,
                5px 5px 0 #8C8979,
                6px 6px 0 #8C8979,
                7px 7px 0 #8C8979,
                8px 8px 0 #8C8979,
                9px 9px 0 #8C8979,
                10px 10px 0 #8C8979;
}

.controller div:before {
    position: absolute;
    left: 20px;
    bottom: 20px;
    content: "";
    background-color: transparent;
    height: 45px;
    width: 45px;
    box-shadow: 0 -13px 0 -10px #C5C1AE,
                -13px 0 0 -10px #C5C1AE,
                0 13px 0 -10px #C5C1AE,
                13px 0 0 -10px #C5C1AE;
    background-image:   radial-gradient(circle at 22.5px 22px, black 0, black 4px, transparent 5px),
                        radial-gradient(circle at 22.5px 23px, darkgrey 0, darkgrey 4px, transparent 6px),
                        linear-gradient(to right, transparent 0, transparent 13px, black 13px, black 30px, transparent 34px),
                        linear-gradient(to bottom, transparent, 0, transparent 10px, #C5C1AE 10px, #C5C1AE 13px, black 13px, black 30px, #C5C1AE 32px, #C5C1AE 35px, transparent 35px),
                        linear-gradient(to right, transparent 0, transparent 10px, #C5C1AE 10px, #C5C1AE 13px, black 13px, black 30px, #C5C1AE 32px, #C5C1AE 35px, transparent 35px);
}

.controller div:after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 35px;
    width: 75px;
    content: "";
    border-radius: 5px;
    background-color: transparent;
    background-image:   radial-gradient(circle at 15px 16px, orangered 0, orangered 15px, transparent 15px),
                        radial-gradient(circle at 17px 18px, #C70505 0, #C70505 14px, transparent 16px),
                        radial-gradient(circle at 55px 16px, orangered 0, orangered 15px, transparent 14px),
                        radial-gradient(circle at 57px 18px, #C70505 0, #C70505 14px, transparent 16px),
                        linear-gradient(to right, #C5C1AE 35px, transparent 35px, transparent 39px, #C5C1AE 39px, #C5C1AE 75px);
}

.lightning {
    background-color: rebeccapurple;
}

.lightning div {
    position: relative;
    height: 250px;
    width: 250px;
    background-image:   radial-gradient(circle at 100px 80px, darkgray 0, darkgray 30px, transparent 40px),
                        radial-gradient(circle at 140px 70px, darkgray 0, darkgray 40px, transparent 50px),
                        radial-gradient(circle at 175px 80px, darkgray 0, darkgray 25px, transparent 35px),
                        radial-gradient(circle at 70px 90px, darkgray 0, darkgray 20px, transparent 25px);
}

.lightning div:before {
    perspective: 5px;
    transform: rotateY(25deg) rotateX(-45deg);
    content: "";
    position: absolute;
    top: 120px;
    left: 100px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid goldenrod;
    border-top: 100px solid goldenrod;
    border-right: 30px solid transparent;
    box-shadow: -10px -95px 30px -5px goldenrod;
}

.lightning div:after {
    perspective: 5px;
    transform: rotateY(25deg) rotateX(-45deg);
    content: "";
    position: absolute;
    top: 60px;
    left: 105px;
    border-top: 1px solid transparent;
    border-right: 1px solid goldenrod;
    border-bottom: 100px solid goldenrod;
    border-left: 30px solid transparent;
    box-shadow: 10px 95px 30px -5px goldenrod;
}

.webrtc {
    background-color: silver;
}

.webrtc div {
    width: 250px;
    height: 250px;
    position: relative;
    background-image:   radial-gradient(circle at 55px 105px, #4B85C3 0, #4B85C3 50px, transparent 50px),
                        radial-gradient(circle at 80px 180px, #DB7032 0, #DB7032 50px, transparent 50px),
                        radial-gradient(circle at 170px 180px, #579546 0, #579546 50px, transparent 50px),
                        radial-gradient(circle at 195px 105px, #EFCB3E 0, #EFCB3E 50px, transparent 50px),
                        radial-gradient(circle at 125px 55px, #A02B26 0, #A02B26 50px, transparent 50px);
}

.webrtc div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 105px;
    width: 140px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

.webrtc div:after {
    perspective: 5;
    content: "";
    position: absolute;
    top: 160px;
    left: 50px;
    border-top: 50px solid white;
    border-right: 70px solid transparent;
    perspective: 5px;
    transform: rotateX(25deg) rotateZ(40deg) rotateY(-55deg);
}

.latte {
    background: burlywood;
}

.latte div {
    position: relative;
    height: 180px;
    width: 180px;
    transform: translateX(-85px) translateY(-10px);
    border-radius: 50%;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.3);
    background-image:
                        radial-gradient(circle at 67px 72px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 25px, transparent 35px),
                        radial-gradient(circle at 60px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 20px, transparent 35px),

                        radial-gradient(circle at 113px 72px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 25px, transparent 35px),
                        radial-gradient(circle at 120px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 20px, transparent 35px),

                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 25px),

                        radial-gradient(circle at 70px 60px, sienna 0, sienna 25px, transparent 55px, transparent 65px),
                        radial-gradient(circle at 90px 60px, sienna 0, sienna 25px, transparent 55px, transparent 65px),

                        radial-gradient(circle at 90px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 75px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 80px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 85px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 80px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 95px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 120px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 30px),
                        radial-gradient(circle at 90px 125px, transparent 0, transparent 15px, sienna 20px, transparent 25px),
                        radial-gradient(circle at 90px 110px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 30px),

                        radial-gradient(circle at 90px 140px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 5px, transparent 20px),

                        radial-gradient(circle at 90px 90px, brown 0, sienna 80px, #E6E6E6 85px, transparent 90px);
}

.latte div:before {
    content: "";
    position: absolute;
    top: 80px;
    left: -45px;
    height: 25px;
    width: 50px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, darkgray 0, white 75%, darkgray 90%, #E6E6E6 98%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.latte div:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 200px;
    height: 150px;
    width: 150px;
    background-color: #CA9B26;
    border-radius: 50%;
    overflow:hidden;
    background-image:   radial-gradient(circle at 40px 40px, #713A3A 0, #713A3A 15px, transparent 18px),
                        radial-gradient(circle at 125px 90px, #713A3A 0, #713A3A 10px, transparent 13px),
                        radial-gradient(circle at 55px 105px, #713A3A 0, #713A3A 11px, transparent 14px),
                        radial-gradient(circle at 105px 20px, #713A3A 0, #713A3A 20px, transparent 23px);
        box-shadow: -5px 5px 10px rgba(0, 0, 0, .3), inset 0 0 10px 10px white, inset 1px -1px 1px 15px darkgray;
}

.hamburger-animation {
    background-color: darkgreen;
}

.hamburger-animation div {
    box-sizing: border-box;
    background-origin: content-box;
    position: relative;
    height: 20px;
    width: 125px;
    cursor: pointer;

    background-image:   radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        linear-gradient(to right, darkgreen 0, darkgreen 10px, transparent 10px, transparent 115px, darkgreen 115px),
                        linear-gradient(to bottom,
                            lightgray 0, lightgray 20px,
                            transparent 20px, transparent 30px)
                        ;
}

.hamburger-animation div:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 125px;
    top: -30px;
    cursor: pointer;

    background-image:   radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        linear-gradient(to right, darkgreen 0, darkgreen 10px, transparent 10px, transparent 115px, darkgreen 115px),
                        linear-gradient(to bottom,
                            lightgray 0, lightgray 20px,
                            transparent 20px, transparent 30px)
                        ;
}

.hamburger-animation div:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 125px;
    top: 30px;
    cursor: pointer;

    background-image:   radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px),
                        linear-gradient(to right, darkgreen 0, darkgreen 10px, transparent 10px, transparent 115px, darkgreen 115px),
                        linear-gradient(to bottom,
                            lightgray 0, lightgray 20px,
                            transparent 20px, transparent 30px)
                        ;
}

.hamburger-animation div:focus {
    outline: none;
    animation-name: hamburger-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: linear
    animation-iteration-count: 1;
}

.hamburger-animation div:focus:before {
    outline: none;
    animation-name: crossX1-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: linear
    animation-iteration-count: 1;
}

.hamburger-animation div:focus::after {
    outline: none;
    animation-name: crossX2-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: linear
    animation-iteration-count: 1;
}

.hamburger-animation div:active {
    animation-name: hamburger;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hamburger-animation div:active:before {
    animation-name: crossX1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hamburger-animation div:active:after {
    animation-name: crossX2;
    animation-direction: normal;
    animation-fill-mode: forwards;

}



@keyframes hamburger {
    1% {
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        padding-left: 52.5px;
        padding-right: 52.5px;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-repeat: no-repeat;
    }
}

@keyframes hamburger-0 {
    1% {
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        padding-left: 52.5px;
        padding-right: 52.5px;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-repeat: no-repeat;
    }
}

@keyframes crossX1 {
    0 {    }
    1% {
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    6 % {
        transform: translate(-42px, 0px) rotate(45deg);
    }
    12% {
        transform: translate(-85px, 0px) rotate(90deg);
    }
    25% {
        transform: translate(0px, -25px) rotate(180deg);
    }
    50% {
        transform: translate(85px, 0px) rotate(270deg);
    }
    75% {
        transform: translate(-50px, 95px) rotate(360deg);
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        transform: translate(-50px, 30px) rotate(495deg);
    }
}

@keyframes crossX1-0 {
    0 {    }
    1% {
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    6 % {
        transform: translate(-42px, 0px) rotate(45deg);
    }
    12% {
        transform: translate(-85px, 0px) rotate(90deg);
    }
    25% {
        transform: translate(0px, -25px) rotate(180deg);
    }
    50% {
        transform: translate(85px, 0px) rotate(270deg);
    }
    75% {
        transform: translate(-50px, 95px) rotate(360deg);
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        transform: translate(-50px, 30px) rotate(495deg);
    }
}

@keyframes crossX2 {
    0 {    }
    1% {
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    6% {
        transform: translate(76px, 0px) rotate(-45deg);
    }
    12% {
        transform: translate(155px, 0px) rotate(-90deg);
    }
    25% {
        transform: translate(0px, 25px) rotate(-180deg);
    }
    50% {
        transform: translate(-85px, 0px) rotate(-270deg);
    }
    75% {
        transform: translate(-50px, -95px) rotate(-360deg);
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        transform: translate(-50px, -30px) rotate(-495deg);
    }
}

@keyframes crossX2-0 {
    0 {    }
    1% {
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    6% {
        transform: translate(76px, 0px) rotate(-45deg);
    }
    12% {
        transform: translate(155px, 0px) rotate(-90deg);
    }
    25% {
        transform: translate(0px, 25px) rotate(-180deg);
    }
    50% {
        transform: translate(-85px, 0px) rotate(-270deg);
    }
    75% {
        transform: translate(-50px, -95px) rotate(-360deg);
        width: 20px;
        background-image: none;
        background-color: lightgray;
        border-radius: 50%;
    }
    100% {
        transform: translate(-50px, -30px) rotate(-495deg);
    }
}
