@import 'animals.css';
@import 'controller.css';
@import 'latte.css';

.inin-logo {
    background-color: white;
}

.inin-logo div {
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: relative;
    background-image:   linear-gradient(to bottom, transparent 50px, #0F465D 50px, #0F465D 52px, transparent 52px, transparent),
                        radial-gradient(circle at 4px, #0F465D 4px, transparent 4px),
                        radial-gradient(circle at 96px, #0F465D 4px, transparent 4px),
                        radial-gradient(circle at 50px, #0F465D 4px, transparent 4px);
    border-radius: 50%;
}

.inin-logo div:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    content: "";
    height: 14px;
    width: 0;
    border-radius: 50%;
    border-top: 40px solid #0F465D;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #0F465D;
    border-left: 40px solid transparent;
    transform: rotate(45deg);
}

.inin-logo div:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    content: "";
    width: 12px;
    height: 0;
    border-radius: 50%;
    border-top: 30px solid transparent;
    border-right: 30px solid #4CC5D8;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #4CC5D8;
    transform: rotate(45deg);
}

.lightning {
    background-color: rebeccapurple;
}

.lightning div {
    position: relative;
    height: 250px;
    width: 250px;
    background-image:   radial-gradient(circle at 100px 80px, darkgray 0, darkgray 30px, transparent 40px),
                        radial-gradient(circle at 140px 70px, darkgray 0, darkgray 40px, transparent 50px),
                        radial-gradient(circle at 175px 80px, darkgray 0, darkgray 25px, transparent 35px),
                        radial-gradient(circle at 70px 90px, darkgray 0, darkgray 20px, transparent 25px);
}

.lightning div:before {
    perspective: 5px;
    transform: rotateY(25deg) rotateX(-45deg);
    content: "";
    position: absolute;
    top: 120px;
    left: 100px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid goldenrod;
    border-top: 100px solid goldenrod;
    border-right: 30px solid transparent;
    box-shadow: -10px -95px 30px -5px goldenrod;
}

.lightning div:after {
    perspective: 5px;
    transform: rotateY(25deg) rotateX(-45deg);
    content: "";
    position: absolute;
    top: 60px;
    left: 105px;
    border-top: 1px solid transparent;
    border-right: 1px solid goldenrod;
    border-bottom: 100px solid goldenrod;
    border-left: 30px solid transparent;
    box-shadow: 10px 95px 30px -5px goldenrod;
}

.webrtc {
    background-color: #00bcd4;
}

.webrtc div {
    width: 250px;
    height: 250px;
    position: relative;
    background-image:   radial-gradient(circle at 55px 105px, #4B85C3 0, #4B85C3 50px, transparent 50px),
                        radial-gradient(circle at 80px 180px, #DB7032 0, #DB7032 50px, transparent 50px),
                        radial-gradient(circle at 170px 180px, #579546 0, #579546 50px, transparent 50px),
                        radial-gradient(circle at 195px 105px, #EFCB3E 0, #EFCB3E 50px, transparent 50px),
                        radial-gradient(circle at 125px 55px, #A02B26 0, #A02B26 50px, transparent 50px);
}

.webrtc div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 105px;
    width: 140px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

.webrtc div:after {
    perspective: 5;
    content: "";
    position: absolute;
    top: 160px;
    left: 50px;
    border-top: 50px solid white;
    border-right: 70px solid transparent;
    perspective: 5px;
    transform: rotateX(25deg) rotateZ(40deg) rotateY(-55deg);
}

.hamburger-animation {
    background-color: darkgreen;
}

.hamburger-animation div {
    box-sizing: border-box;
    background-origin: content-box;
    position: relative;
    height: 20px;
    width: 125px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
}

.hamburger-animation div:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 125px;
    top: -30px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
}

.hamburger-animation div:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 125px;
    top: 30px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
}

.hamburger-animation div:focus {
    outline: none;
    animation-name: hamburger-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    animation-iteration-count: 1;
}

.hamburger-animation div:focus:before {
    outline: none;
    animation-name: crossX1-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    animation-iteration-count: 1;
}

.hamburger-animation div:focus::after {
    outline: none;
    animation-name: crossX2-0;
    animation-direction: reverse;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    animation-iteration-count: 1;
}

.hamburger-animation div:active {
    animation-name: hamburger;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hamburger-animation div:active:before {
    animation-name: crossX1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hamburger-animation div:active:after {
    animation-name: crossX2;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

@keyframes hamburger {
    1% {
        width: 125px;
    }
    10% {
        width: 20px;
    }
    100% {
        width: 20px
    }
}

@keyframes hamburger-0 {
    1% {
        width: 125px;
    }
    10% {
        width: 20px;
    }
    100% {
        width: 20px
    }
}

@keyframes crossX1 {
    0 {    }
    1% {
        width: 125px;
        left: 0px;
    }
    2% {
        width: 20px;
        left: 150px;
    }
    4% {
        width: 125px;
        left: 0px;
        background-image: radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-color: transparent;
    }
    96% {
        width: 125px;
        background-color: transparent;
        background-image: radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px);
    }
    98% {
        width: 20px;
    }
    99% {
        width: 125px;
        background-color: lightgray;
        background-image: none;
    }
    100% {
        transform: translate(-50px, 30px) rotate(225deg);
    }
}

@keyframes crossX1-0 {
    0 {    }
    1% {
        width: 125px;
        left: 0px;
    }
    2% {
        width: 20px;
        left: 150px;
    }
    4% {
        width: 125px;
        left: 0px;
        background-image: radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-color: transparent;
    }
    96% {
        width: 125px;
        background-color: transparent;
        background-image: radial-gradient(circle at 115px 10px, lightgray 0, lightgray 10px, transparent 10px);
    }
    98% {
        width: 20px;
    }
    99% {
        width: 125px;
        background-color: lightgray;
        background-image: none;
    }
    100% {
        transform: translate(-50px, 30px) rotate(225deg);
    }
}

@keyframes crossX2 {
    0 {    }
    1% {
        width: 125px;
        left: 0px;
    }
    2% {
        width: 20px;
        left: -50px;
    }
    4% {
        width: 125px;
        left: -100px;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-color: transparent;
    }
    96% {
        left: 0px;
        width: 125px;
        background-color: transparent;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
    }
    98% {
        width: 20px;
    }
    99% {
        width: 125px;
        background-color: lightgray;
        background-image: none;
    }
    100% {
        transform: translate(-50px, -30px) rotate(315deg);
    }
}

@keyframes crossX2-0 {
    0 {    }
    1% {
        width: 125px;
        left: 0px;
    }
    2% {
        width: 20px;
        left: -50px;
    }
    4% {
        width: 125px;
        left: -100px;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
        background-color: transparent;
    }
    96% {
        width: 125px;
        left: 0px;
        background-color: transparent;
        background-image: radial-gradient(circle at 10px 10px, lightgray 0, lightgray 10px, transparent 10px);
    }
    98% {
        width: 20px;
    }
    99% {
        width: 125px;
        background-color: lightgray;
        background-image: none;
    }
    100% {
        transform: translate(-50px, -30px) rotate(315deg);
    }
}

.code {
    background-color: black;
}

.code div {
    width: 550px;
    height: 100%;
    position: relative;
    padding: 20px;
    overflow-x: auto;
    /* X 50, +40, +105, ... */
    /* Y 95, 133, 175 */
    /* oo o. oo o. */
    /* .. .o .o .o */
    /* .. o. .. .. */
    background-image:   radial-gradient(circle at 50px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 90px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 50px 133px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 90px 133px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 50px 175px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 90px 175px, gold 0, gold 3px, transparent 3px),

                        radial-gradient(circle at 195px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 235px 95px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 195px 133px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 235px 133px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 195px 175px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 235px 175px, gold 0, gold 3px, transparent 3px),

                        radial-gradient(circle at 340px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 380px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 340px 133px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 380px 133px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 340px 175px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 380px 175px, gold 0, gold 3px, transparent 3px),

                        radial-gradient(circle at 485px 95px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 525px 95px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 485px 133px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 525px 133px, gold 0, gold 7px, transparent 7px),
                        radial-gradient(circle at 485px 175px, gold 0, gold 3px, transparent 3px),
                        radial-gradient(circle at 525px 175px, gold 0, gold 3px, transparent 3px);
}

.code div:before {
    position: absolute;
    font-family: monospace;
    font-size: 24px;
    content: "— · — ·\00a0\00a0\00a0\00a0— — —\00a0\00a0\00a0\00a0\00a0— · ·\00a0\00a0\00a0\00a0\00a0\00a0\00a0·\00a0\00a0";
    color: dodgerblue;
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    padding: 20px;
    top: 80px;
}

.code div:after {
    position: absolute;
    font-family: monospace;
    font-size: 24px;
    content: "1000011 \00a0 \00a0 1001111 \00a0 \00a0 1000100 \00a0 \00a0 1000101";
    color: limegreen;
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    padding: 20px;
    top: 120px;
}
