.latte {
    background: burlywood;
}

.latte div {
    position: relative;
    height: 180px;
    width: 180px;
    transform: translateX(-85px) translateY(-10px);
    border-radius: 50%;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.3);
    background-image:
                        radial-gradient(circle at 67px 72px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 25px, transparent 35px),
                        radial-gradient(circle at 60px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 20px, transparent 35px),

                        radial-gradient(circle at 113px 72px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 25px, transparent 35px),
                        radial-gradient(circle at 120px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 20px, transparent 35px),

                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 25px),

                        radial-gradient(circle at 70px 60px, sienna 0, sienna 25px, transparent 55px, transparent 65px),
                        radial-gradient(circle at 90px 60px, sienna 0, sienna 25px, transparent 55px, transparent 65px),

                        radial-gradient(circle at 90px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 75px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 70px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 80px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 85px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 80px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 35px, transparent 50px),
                        radial-gradient(circle at 90px 95px, transparent 0, transparent 35px, sienna 40px, transparent 45px),
                        radial-gradient(circle at 90px 90px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 30px, transparent 40px),

                        radial-gradient(circle at 90px 120px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 30px),
                        radial-gradient(circle at 90px 125px, transparent 0, transparent 15px, sienna 20px, transparent 25px),
                        radial-gradient(circle at 90px 110px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 15px, transparent 30px),

                        radial-gradient(circle at 90px 140px, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 5px, transparent 20px),

                        radial-gradient(circle at 90px 90px, brown 0, sienna 80px, #E6E6E6 85px, transparent 90px);
}

.latte div:before {
    content: "";
    position: absolute;
    top: 80px;
    left: -45px;
    height: 25px;
    width: 50px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, darkgray 0, white 75%, darkgray 90%, #E6E6E6 98%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.latte div:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 200px;
    height: 150px;
    width: 150px;
    background-color: #CA9B26;
    border-radius: 50%;
    overflow:hidden;
    background-image:   radial-gradient(circle at 40px 40px, #713A3A 0, #713A3A 15px, transparent 18px),
                        radial-gradient(circle at 125px 90px, #713A3A 0, #713A3A 10px, transparent 13px),
                        radial-gradient(circle at 55px 105px, #713A3A 0, #713A3A 11px, transparent 14px),
                        radial-gradient(circle at 105px 20px, #713A3A 0, #713A3A 20px, transparent 23px);
        box-shadow: -5px 5px 10px rgba(0, 0, 0, .3), inset 0 0 10px 10px white, inset 1px -1px 1px 15px darkgray;
}
